# OS
.DS_Store
Thumbs.db

# Environment
.env
*.env
!.env.example
.env.local
*.env.local

# Node
node_modules/
dist/
coverage/
.expo/

# Java
.gradle/
build/
out/

# IDE
.idea/
.vscode/
*.iml

# Logs
*.log

apps/backend/bin/
*.class
